.chart__inner {
    margin-top: 50px;
    display: flex;
}

.chartTitle {
    color: #000;
    font-size: 30px;
    margin-bottom: 10px;
}

.chartWrapper {
    max-width: 100%;
}

.chart-container, .sunChart-container  {
    height:600px; 
    width: 1200px;
}

.text {
    position: fixed;
    top: 100;
    right: -1000;
    z-index: 10000;
    color: #fff;
    font-size: 40px;
}

@media (max-width: 1200px) {
    .chartWrapper {
        overflow-x: scroll;
    }

    .sunChart-container {
        width: 100%;
        height: 100%;
    }
}
/* @media(max-width: 900px) {
    .day {
        margin-top: 100px;
    }
} */

@media(max-width: 450px) {
    .chart__innner {
        margin-top: 20px;
    }

    .day__input {
        width: 200px;
        font-size: 20px;
    }

    .chartTitle {
        font-size: 20px;
    }
}