/* Chart */
.chart__inner {
    margin-top: 50px;
    display: flex;
}

/* .chart {
    height: 500px;
    width: 1000px;
} */

/* Input day */

.day {
    margin: 100px auto 0;
}

.day__inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.day__input {
    width: 250px;
    height: 40px;
    font-size: 22px;
    border: none;
    outline: none;
}

.day__previous {
    color: #fff;
    font-size: 40px;
}

.day__previous:hover {
    cursor: pointer;
}

.day__next {
    color: #fff;
    font-size: 40px;
}

.day__next:hover {
    cursor: pointer;
}

.day__input__wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.enterBtn {
    color: #000;
    height: 40px;
    font-size: 40px;
    background-color: #fff;
    transition: 0.2s linear ;
}

.enterBtn:hover {
    cursor: pointer;
    background-color: #004AF2;
}

.day__errorMessage {
    position: absolute;
    top: 50px;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    /* font-weight: 600; */
}

/* Charts */

.chartWrapper {
    max-width: 100%;
}

.chart-container {
    height:600px; 
    width: 1200px;
}

.text {
    position: fixed;
    top: 100;
    right: -1000;
    z-index: 10000;
    color: #fff;
    font-size: 40px;
}

/* Media */

@media (max-width: 1200px) {
    .chartWrapper {
        overflow-x: scroll;
    }
}
/* @media(max-width: 900px) {
    .day {
        margin-top: 100px;
    }
} */

@media(max-width: 450px) {
    .chart__innner {
        margin-top: 20px;
    }

    .day__input {
        width: 200px;
        font-size: 20px;
    }
}